* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.header-container {
    height: 10vh;
    padding: 20px;
    background: linear-gradient(to bottom right, #0562f7, #629af5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-header-text {
    text-align: center;
}

.search-bar {
    padding-top: 10px;
    display: flex;
    height: 5vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #fff700, #dbd51a);
}

.search-bar>* {
    margin-right: 10px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left-modal-pane {
    grid-row: 1;
    display: block;
}

.right-modal-pane {
    text-align: left;
    grid-row: 1;
}

#modal-city-name {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    background-color: black;
}

.trip-countdown {
    margin-top: 5px;
}

.trip-weather {
    margin-top: 10px;
}

#modal-trip-img {
    object-fit: cover;
    width: 80%;
    height: 80%;
    margin: 20px;
}

.modal-controller {
    margin-top: 20px;
    display: inline-block;
}

.modal-controller>* {
    margin: 10px;
}

button:hover {
    // Your styles
    cursor: pointer;
}