footer {
    grid-area: ft;
    justify-content: center;
    padding: 5px;
    margin: 0px;
    height: 30px;
    background-color: white;
    display: inline-flex;
}

footer>p {
    font-weight: bold;
    margin-right: 10px;
}

.footer-icon {
    padding-left: 5px;
    color: #ff9900;
}