*{
	margin: 0px;
	padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

#grid-layout{
	display: grid;
	grid-gap: 6px;
	grid-column: 1fr 1fr 1fr 1fr;
	grid-row: 60px 1fr 1fr 1fr 1fr 30px;	
	width: 100vw;
    height: 100vh;
    grid-template-areas:
    "nav nav nav nav"
    "top-post top-post post-2 post-3"
    "top-post top-post post-4 post-5"
    "newsletter newsletter newsletter newsletter"
    "ft ft ft ft";
}

.nav-bar{
	grid-area: nav;
	display: flex;
	border: 1px solid red;
	align-items: center;
	max-height: 60px;
}

.website-title{
	width: 40%;
}

.nav-bar-list{
	display: flex;
	flex-direction: row;
	list-style-type:none;
	width: 60%;
}

.nav-bar-item{
	margin-right: 50px;
}

.main-post{
	grid-area: top-post;
	border: 1px solid red;
	width: 100%;
    height: 100%;	
}

#post2 {
	grid-area: post-2;
	border: 1px solid red;
}

#post3{
	grid-area: post-3;
	border: 1px solid red;

}

#post4{
	grid-area: post-4;
	border: 1px solid red;

}

#post5{
	grid-area: post-5;
	border: 1px solid red;
}

.newsletter{
	grid-area: newsletter;
	border: 1px solid red;

}

#footer {
	grid-area: ft;
	border: 1px solid red;
	text-align: center;
	align-items: center;
	padding: 5px;
	margin: 0px;
	height: 30px;
}

